/*Reset*/

* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

/*Variables CSS*/

:root {
  --primary-font: "Roboto", sans-serif;
  --color-dark: #202956;
  --color-medium: #293473;
  --color-light: #f6f7fe;
  --color-font: #ffffff;
  --color-footer: #000000;
  --color-button: #424ba7;
}

/*Header*/

.header {
  background-color: var(--color-light);
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-size: 30px;
  margin-left: 50px;
  color: var(--color-dark);
}

.header__container {
  margin-right: 150px;
}

.header__container--input {
  height: 32px;
  width: 290px;
  font-size: 18px;
  border: 2px solid var(--color-dark);
}

.header__container--button {
  background-color: var(--color-button);
  color: var(--color-light);
  height: 32px;
  border-radius: 5px;
  font-size: 15px;
  border: 5px solid var(--color-button);
  margin-left: 4px;
}

/*Main*/

.main {
  width: 100%;
  background-color: var(--color-medium);
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.main__films {
  width: 65%;
  margin: 40px 60px 0 0;
  background-color: var(--color-light);
}

/*Main - Section series*/

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--color-medium);
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.card {
  margin: 20px 40px 50px 0;
  height: 185px;
  max-width: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--color-dark);
  border: 6px solid var(--color-button);
  color: var(--color-light);
  overflow: hidden;
  transition: 0.25s all;
}

.card__title {
  display: block;
  margin: 0;
  padding: 0.3rem 1rem;
  font-size: 1rem;
}

.card__img {
  width: 100%;
}

/*Aside - Section favourites*/

.main__aside {
  background-color: var(--color-dark);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__aside--title {
  color: var(--color-light);
  font-size: 15px;
  line-height: 14px;
  margin-top: 10px;
  padding: 15px;
  text-transform: uppercase;
}

.main__aside--button {
  color: var(--color-light);
  background-color: var(--color-button);
  padding: 5px;
  border-radius: 6px;
  border: 2px solid var(--color-button);
}

.icon {
  margin-left: 10px;
}

/*Footer*/

.footer {
  background-color: var(--color-footer);
  color: var(--color-light);
  height: 32.5px;
  font-family: var(--primary-font);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  text-transform: capitalize;
}
