* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

:root {
  --primary-font: "Roboto", sans-serif;
  --color-dark: #202956;
  --color-medium: #293473;
  --color-light: #f6f7fe;
  --color-font: #ffffff;
  --color-footer: #000000;
}

.header {
  background-color: var(--color-light);
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.header__title {
  font-size: 30px;
  margin-left: 50px;
  color: var(--color-dark);
}

.header__container {
  margin-right: 150px;
}

.header__container--input {
  height: 32px;
  width: 300px;
  font-size: 18px;
  border: 2px solid var(--color-dark);
}

.header__container--button {
  background-color: var(--color-medium);
  color: var(--color-light);
  height: 32px;
  border-radius: 5px;
  font-size: 15px;
  border: 5px solid var(--color-medium);
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: var(--color-footer);
  color: var(--color-light);
  height: 32.5px;
  font-family: var(--primary-font);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}
